[submodule "docs/themes/ace-documentation"]
	path = docs/themes/ace-documentation
	url = https://github.com/vantagedesign/ace-documentation.git
[submodule "src/Remote.Payments.Developer.Docs.WebSite/themes/ace-documentation"]
	path = src/Remote.Payments.Developer.Docs.WebSite/themes/ace-documentation
	url = https://github.com/vantagedesign/ace-documentation.git
