x-generator: NSwag v13.12.1.0 (NJsonSchema v10.4.6.0 (Newtonsoft.Json v12.0.0.0))
openapi: 3.0.0
info:
  title: Payment Service
  version: 2.0.0
  description:
    $ref: ../prose/info.md
  termsOfService: https://dojo.tech/legal/
  contact:
    name: Dojo Developer Experience Team
servers:
  - url: https://api.dojo.tech
    description: Production API
tags:
  - name: Payment intents
    description: |-
      Allows you to take and manage payments.

      **Documentation**: [Payments](../payments)
  - name: Refunds
    description: |-
      Allows you to manage a refund for payments.

      **Documentation**: [Refunds](../payments)
  - name: Reversal
    description: |-


      **Documentation**: [Reversal](../payments)
  - name: Captures
    description: |-


      **Documentation**: [Captures](../payments)
x-tagGroup:
  - name: Payments
    tags:
      - Payment intents
      - Refunds
      - Reversal
      - Captures
  - name: Notifications
    tags: ''
paths:
  /payment-intents:
    $ref: paths/payment-intents.yaml
  /payment-intents/{paymentIntentId}:
    $ref: paths/payment-intents@{paymentIntentId}.yaml
  /payment-intents/{paymentIntentId}/captures:
    $ref: paths/payment-intents@{paymentIntentId}@captures.yaml
  /payment-intents/{paymentIntentId}/refresh-token:
    $ref: paths/payment-intents@{paymentIntentId}@refresh-token.yaml
  /payment-intents/{paymentIntentId}/status:
    $ref: paths/payment-intents@{paymentIntentId}@status.yaml
  /payment-intents/search:
    $ref: paths/payment-intents@search.yaml
  /payment-intents/{paymentIntentId}/tips-amount:
    $ref: paths/payment-intents@{paymentIntentId}@tips-amount.yaml
  /payment-intents/{paymentIntentId}/amount:
    $ref: paths/payment-intents@{paymentIntentId}@amount.yaml
  /payment-intents/{paymentIntentId}/receipt:
    $ref: paths/payment-intents@{paymentIntentId}@receipt.yaml
  /payment-intents/{paymentIntentId}/refunds:
    $ref: paths/payment-intents@{paymentIntentId}@refunds.yaml
  /payment-intents/refunds/{refundId}:
    $ref: paths/payment-intents@refunds@{refundId}.yaml
  /payment-intents/{paymentIntentId}/reversal:
    $ref: paths/payment-intents@{paymentIntentId}@reversal.yaml
components:
  securitySchemes: {}
